<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gameMain</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/gameMain.css" />
</head>
<script>
    $(document).ready(function(){

        if($("#A").val() === 'A : 0') $("#A").attr("disabled", true);
        if($("#B").val() === 'B : 0') $("#B").attr("disabled", true)
        if($("#C").val() === 'C : 0') $("#C").attr("disabled", true)
        if($("#D").val() === 'D : 0') $("#D").attr("disabled", true)
        if($("#E").val() === 'E : 0') $("#E").attr("disabled", true)
        if($("#F").val() === 'F : 0') $("#F").attr("disabled", true)
    });
    function loadQuestion(inx){
        location.href = '/question/' + inx + '/show';
    }

    function shuffleAndReplay(){
        location.href = "/question/shuffleAndReplay";
    }

    function checkMedium(){
        let popUrl = "/question/checkMedium";
        let popupX = (window.screen.width / 2) - (1000 / 2);
        // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
        let popupY= (window.screen.height /2) - (1000 / 2);
        // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
        let popOption = 'status=no, height=1000, width=1000, scrollbar=yes,left='+ popupX + ', top='+ popupY + ', screenX='+ popupX + ', screenY= '+ popupY;

        window.open(popUrl, "중간 점검", popOption);
    }

    function final(){
        let popUrl = "/question/winner";
        let popupX = (window.screen.width / 2) - (800 / 2);
        // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
        let popupY= (window.screen.height /2) - (800 / 2);
        // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
        let popOption = 'status=no, height=800, width=800, scrollbar=yes,left='+ popupX + ', top='+ popupY + ', screenX='+ popupX + ', screenY= '+ popupY;
        window.open(popUrl, "최종우승자", popOption);
    }
</script>
<body>
    <div class="container-block">
        <div>
            <div id="option-block">
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z"/></svg>
                        <input class="form_btn" type="button" value="replay" onclick="shuffleAndReplay();">
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
                        <input class="form_btn" type="button" value="home" onclick="location.href='/common/home'">
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6H426.6c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z"/></svg>
                        <input class="form_btn" type="button" value="The Winner" onclick="final();">
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M96 80c0-26.5 21.5-48 48-48H432c26.5 0 48 21.5 48 48V384H96V80zm313 47c-9.4-9.4-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L409 161c9.4-9.4 9.4-24.6 0-33.9zM0 336c0-26.5 21.5-48 48-48H64V416H512V288h16c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V336z"/></svg>
                        <input class="form_btn" type="button" value="Medium Check" onclick="checkMedium();">
                    </li>
                </ul>
            </div>
            <div style="margin-top: 20px; text-align: center;">
                <img src="/img/mozzi1.jpg" width="300px" height="300px;">
            </div>
        </div>
        <div style="width: 50px;"></div>
        <div>
            <div id="content-block">
                <div style="text-align: center; margin-bottom: 150px;" >

                    <h1 style="font-size: 80px;">Choose Question</h1>
                    <input style="margin-top: 100px;" class="form_btn2" type="button" id="A" th:value="A + ' : ' + ${ACnt}" onclick="loadQuestion(this.id)">
                    <input class="form_btn2" type="button" id="B" th:value="B + ' : ' + ${BCnt}" onclick="loadQuestion(this.id)">
                    <input class="form_btn2" type="button" id="C" th:value="C + ' : ' + ${CCnt}" onclick="loadQuestion(this.id)">
                    <input style="margin-top: 80px;" class="form_btn2" type="button" id="D" th:value="D + ' : ' + ${DCnt}" onclick="loadQuestion(this.id)">
                    <input class="form_btn2" type="button" id="E" th:value="E + ' : ' + ${ECnt}" onclick="loadQuestion(this.id)">
                    <input class="form_btn2" type="button" id="F" th:value="F + ' : ' + ${FCnt}" onclick="loadQuestion(this.id)">
                </div>
            </div>
        </div>
    </div>
</body>
</html>