<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>final winner</title>
    <link rel="stylesheet" href="/css/final.css">
</head>
<body>
<h1 style="text-align: center;">최종 우승자</h1>
<div class="grid-container">
    <div class="grid-item form_btn" th:each="student : ${top3}" th:id="'user'+${studentStat.index}">
        <div id="count" th:text="${studentStat.index + 1 + '등'}"></div>
        <img id="userImg" th:src="${student.imgUrl}" width="80px" height="80px;">
        <div id="userStat">
            <p th:id="${student.id}" th:text="${student.name}"></p>
            <p th:text="${student.christian_name}"></p>
            <p style="color: red;" th:text="${student.cnt}"></p>
        </div>
    </div>
</div>
</body>
</html>