<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/question.css">
</head>
<script>
    function check(){
        let q_id = $("#q_id").val();
        const obj={
            "q_id" : q_id
        };
        $.ajax({
            url: '/question/isAnswer',
            data: obj,
            method : 'GET',
            success :  function(data){
                if(data === 'success'){
                    let popUrl = "/question/checkScore?q_id=" + q_id;
                    let popupX = (window.screen.width / 2) - (1000 / 2);
                    // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
                    let popupY= (window.screen.height /2) - (1000 / 2);
                    // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
                    let popOption = 'status=no, height=1000, width=1000, scrollbar=yes,left='+ popupX + ', top='+ popupY + ', screenX='+ popupX + ', screenY= '+ popupY;

                    window.open(popUrl, "정답 체크", popOption);
                }else if(data === 'fail'){
                    alert("이미 정답 처리 되었습니다~");
                }
            },
            error: function(xhr, textStatus, error){
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);

            }
        });
    }
    function showAnswer(){
        $("#answer").css("display", "block");
    }
</script>
<body>
<input type="hidden" id="q_id" th:value="${question.id}">
<div id="title" style="text-align: center; display: flex; flex-direction: row; justify-content: center; height: 150px;">
    <h1 style="font-family: '궁서'; font-size: 100px; font-weight: 700; margin-top: 30px;">구.잘.알</h1>
    <img src="/img/mozzi2.jpg" width="130px" height="130px" style="margin-top: 20px;">
</div>
<div class="container-block">
    <div>
        <div id="option-block">
            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z"/></svg>
                    <input class="form_btn" type="button" value="back" onclick="location.href='/common/gameStarts'">
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                    <input class="form_btn" type="button" value="Correct" onclick="check();">
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M144 144c0-44.2 35.8-80 80-80c31.9 0 59.4 18.6 72.3 45.7c7.6 16 26.7 22.8 42.6 15.2s22.8-26.7 15.2-42.6C331 33.7 281.5 0 224 0C144.5 0 80 64.5 80 144v48H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H144V144z"/></svg>
                    <input class="form_btn" type="button" value="Show Answer" onclick="showAnswer();">
                </li>
            </ul>
        </div>
        <div style="margin-top: 20px; text-align: center;">
            <img src="/img/mozzi1.jpg" width="300px" height="300px;">
        </div>
    </div>
    <div style="width: 50px;"></div>
    <div>
        <div id="content-block">
            <div style="text-align: center;">
                <h1 style="display: inline; margin-top: 50px;">Question Group : </h1><h1 style="display: inline" th:text="${question.type}"></h1> <br>
                <p id="question" th:text="${question.question}" style="white-space: pre-line; margin-top: 70px; width: 1000px; height: 100px; font-size: 50px; font-weight: bold; text-align: center; align-items: center"></p>
                <p id="answer" th:text="${question.answer}" style="white-space: pre-line; display: none; margin-top: 100px; width: 1000px; height: auto; font-size: 70px; font-weight: bold; text-align: center"></p>
            </div>
        </div>
    </div>

</div>
</body>
</html>